@model IEnumerable<StarCastGroupDois.UI.Site.Models.AlertaViewModel>

@{
    ViewData["Title"] = "";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDoacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAlerta)
            </th>
            <th>
                Emitir
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoDoacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAlerta)
                </td>
                <td>
                    @Html.ActionLink("Aviso", "EnviarAviso", new { }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Emergência", "EnviarEmergencia", new { }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
