<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/lib/css/site.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
    <div style="text-align: center;">
        <h1>Sistema Grupo 2</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" title="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Doacao" asp-action="Index" title="Doacao">Cadastrar Doações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Alerta" asp-action="Index" title="Alerta">Controlar Alertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Parceiro" asp-action="Index" title="Parceiro">Cadastrar Parceiros</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />

    <section>
        <div style="text-align: center;">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="container"> @RenderBody() </div>
    </section>

    <script src="~/lib/js/site.min.js"></script>
    <script src="~/lib/js/validate.min.js"></script>

    @{
        <script type="text/javascript">
            $('.cnpj').mask('99.999.999/9999-99', { reverse: true });
        </script>

        if (!string.IsNullOrEmpty(TempData["ErrorNotifications"] as string))
        {
            <script type="text/javascript">
            toastr.options.closeButton = true;
            toastr.options.positionClass = "toast-bottom-right";
            toastr.error("@Html.Raw(TempData["ErrorNotifications"])");
            </script>
        }

        if (!string.IsNullOrEmpty(TempData["Success"] as string))
        {
            <script type="text/javascript">
            toastr.options.closeButton = true;
            toastr.options.positionClass = "toast-bottom-full-width";
            toastr.success("@Html.Raw(TempData["Success"])");
            </script>
        }
    }

    @RenderSection("scripts", false)

</body>

</html>